@model PaginatedList<ClientExcel>
@{
    ViewData["Title"] = "Index";
}

<div class=" container">
    
    <a class="btn btn-sm btn-primary m-2" asp-action="ImportExcelFile" asp-controller="ClientExcel">Import File</a>|
    <a class="btn btn-sm btn-warning" asp-action="ExportExcel" asp-controller="ClientExcel">Export Excel</a> |
    <a class="btn btn-sm btn-primary m-2" asp-action="Template" asp-controller="ClientExcel">Download Template</a>
    
    
       
        <form  asp-action="Search" method="get">
            <div class="form-group">
                <label for="SearchString">Search</label>
                <input  type="text" name="SearchString" value="@ViewData["CurrentFilter"]"/>
                    
                <input type="submit" value="Search" class="btn btn-primary"/>
          
        </div>
        </form>

    <form asp-action="SearchBetweenDates" method="post">
            Start Date: <input type="datetime" name="start"/>
            End Date: <input type="datetime" name="end" />
            <input type="submit" value="Submit" class="btn btn-success"/>
        </form>

    
        <h3 class="text-center text-success font-weight-bold">@TempData["message"]</h3>
    <div class="row">
        <div class="col-8 offset-2">
            <label style="font-size:larger"> No. of Records:@ViewBag.Count</label><br /><br />
            
            <table class=" table table-bordered">
               
                <thead>
                    <tr class="text-center">
                        <th>Policy number</th>
                        <th>UW Name </th>
                        <th>Date</th>
                        <th>Lot </th>
                        <th>Received timing</th>
                        <th>Done Cases </th>
                        <th>TAT</th>
                        <th>Within TAT </th>
                        <th>Cases Status</th>
                        <th>Action </th>
                    </tr>
                </thead>
                @foreach (var d in Model)
                {
                    <tr class="text-center">
                        <td>@d.Policynumber  </td>
                        <td>@d.UWName </td>
                        <td>@Html.DisplayFor(modelItem =>d.Date) </td>
                        <td>@d.Lot  </td>
                        <td>@Html.DisplayFor(modelItem =>d.Receivedtiming)  </td>
                        <td>@Html.DisplayFor(modelItem =>d.DoneCases)   </td>
                        <td>@d.TAT  </td>
                        <td>@d.WithinTAT  </td>
                        <td>@d.CasesStatus  </td>
                        <td>
                            <a class="btn btn-sm btn-danger" asp-controller="ClientExcel" asp-action="Delete" asp-route-id="@d.Id">Delete</a>
                            <a class="btn btn-sm btn-success" asp-controller="ClientExcel" asp-action="Edit" asp-route-id="@d.Id">Edit</a>

                        </td>

                    </tr>
                }
            </table>
                       
        </div>
    </div>
   
</div>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}


<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex-1)" class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex+1)" class="btn btn-default @nextDisabled">
    Next
</a>

